body{
    background: #1F1E21;
}
.jumbotron{
    background: #1A468E;
    color: #fff;
    margin-top: 50px;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

.bg-colores{
    background: #ECE9F3;
}

.link-netsocial-decoration{
    font-size: 2rem;
    margin: 1px 2px 1px 2px;
    opacity: 0.4;
    color: #F2F2F2;
}
.link-term-decoration{
    font-size: 1.1rem;
    margin: 1px 0 0 0;
    color: #F2F2F2;
}

.yt:hover{
    color: #F01B02;
    opacity: 1;
}
.fb:hover{
    color: #1F3DD1;
    opacity: 1;
}
.color-ig:hover{
    background: -webkit-linear-gradient(left top, red, blue);
    background: linear-gradient(to top right, #FDC401, #A907FA);
    background-clip: text;  
    -webkit-text-fill-color: transparent; 
    opacity: 1;
}
.ig:hover{
    color: #F90BC0;
    opacity: 1;
}
.tw:hover{
    color: #16AFED;
    opacity: 1;
}
footer{
    background: #212526;
    color: #F2F2F2;
    margin-top: 20px;
}

.bg-card{
    background: #303134;
}

.copy{
    background: #000;
    margin-top: 15px;
    color: #F2F2F2;
}

.title-footer{
    padding-top: 5px;
}

.tabs-propias{
    width: 192px;
    height: 108px;
}

.ico-android{
    color: #16ED23;
}
.borde-grilla{
    margin: 3px 3px 3px 3px;
}
hr{
    background: dimgray;
}

.espacio-form{
    margin-top: 4px;
}

.estrella{
    color: #F7FE0E;
}

.sep-card{
    margin: 5px 5px 5px 5px;
}

.flecha-carousel:hover{
    background: #000;
    opacity: 0.4;
}

.breadcrumb{
    display: flex;
    flex-direction: wrap;
    background: #2B2B32;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}