body {
  background: #1F1E21; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #3852E5; }

.jumbotron {
  background: #1A468E;
  color: #fff;
  margin: 50px 0 2rem 0;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: .3rem; }

.bg-colores {
  background: #ECE9F3; }

.link-netsocial-decoration {
  font-size: 2rem;
  margin: 1px 2px 1px 2px;
  opacity: 0.4;
  color: #F2F2F2; }

.link-term-decoration {
  font-size: 1.1rem;
  margin: 1px 0 0 0;
  color: #F2F2F2; }

.yt:hover {
  color: #F01B02;
  opacity: 1; }

.fb:hover {
  color: #1F3DD1;
  opacity: 1; }

.color-ig:hover {
  background: -webkit-linear-gradient(left top, red, blue);
  background: linear-gradient(to top right, #FDC401, #A907FA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1; }

.ig:hover {
  color: #F90BC0;
  opacity: 1; }

.tw:hover {
  color: #16AFED;
  opacity: 1; }

footer {
  background: #212526;
  color: #F2F2F2;
  margin-top: 20px; }

.bg-card {
  background: #303134; }

.copy {
  background: #000;
  margin: 15px 0 0 0;
  color: #F2F2F2; }

.title-footer {
  padding: 5px 0 0 0; }

.tabs-propias {
  width: 192px;
  height: 108px; }

.ico-android {
  color: #16ED23; }

.borde-grilla {
  margin: 3px 3px 3px 3px; }

hr {
  background: dimgray; }

.espacio-form {
  margin: 4px 0 0 0; }

.estrella {
  color: #F7FE0E; }

.sep-card {
  margin: 5px 5px 5px 5px; }

.flecha-carousel:hover {
  background: #000;
  opacity: 0.4; }

.breadcrumb {
  display: flex;
  flex-direction: wrap;
  background: #2B2B32;
  border-radius: 0.25rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem 1rem 0.5rem 1rem; }
