@amarillo-estrella:#F7FE0E;
@blanco:#F2F2F2;
.margenes(@top-m, @right-m, @bottom-m, @left-m) {
    margin: @top-m @right-m @bottom-m @left-m;
}

.padding(@top-p, @right-p, @bottom-p, @left-p) {
    padding: @top-p @right-p @bottom-p @left-p;
}
body{
    background: #1F1E21;
}
.jumbotron{
    background: #1A468E;
    color: #fff;
    .margenes(50px, 0, 2rem, 0);
    .padding(2rem, 1rem, 2rem, 1rem);
    border-radius: .3rem;
}

.bg-colores{
    background: #ECE9F3;
}

.link-netsocial-decoration{
    font-size: 2rem;
    .margenes(1px, 2px, 1px, 2px);
    opacity: 0.4;
    color: @blanco;
}
.link-term-decoration{
    font-size: 1.1rem;
    .margenes(1px, 0, 0, 0);
    color: @blanco;
}

.yt:hover{
    color: #F01B02;
    opacity: 1;
}
.fb:hover{
    color: #1F3DD1;
    opacity: 1;
}
.color-ig:hover{
    background: -webkit-linear-gradient(left top, red, blue);
    background: linear-gradient(to top right, #FDC401, #A907FA);
    background-clip: text;  
    -webkit-text-fill-color: transparent; 
    opacity: 1;
}
.ig:hover{
    color: #F90BC0;
    opacity: 1;
}
.tw:hover{
    color: #16AFED;
    opacity: 1;
}
footer{
    background: #212526;
    color: @blanco;
    margin-top: 20px;
}

.bg-card{
    background: #303134;
}

.copy{
    background: #000;
    .margenes(15px, 0, 0, 0);
    color: @blanco;
}

.title-footer{
    .padding(5px, 0, 0, 0);
}

.tabs-propias{
    width: 192px;
    height: 108px;
}

.ico-android{
    color: #16ED23;
}
.borde-grilla{
    .margenes(3px, 3px, 3px, 3px);
}
hr{
    background: dimgray;
}

.espacio-form{
    .margenes(4px, 0, 0, 0);
}

.estrella{
    color: #F7FE0E;
}

.sep-card{
    .margenes(5px, 5px, 5px, 5px);
}

.flecha-carousel:hover{
    background: #000;
    opacity: 0.4;
}

.breadcrumb{
    display: flex;
    flex-direction: wrap;
    background: #2B2B32;
    border-radius: 0.25rem;
    .margenes(0, 0, 1rem, 0);
    .padding(0.5rem, 1rem, 0.5rem, 1rem);
}